<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">

<meta
    content="Portfolio d'Inès Lalam - Étudiante en Communication & Marketing. Découvrez mes projets en évènementiel, luxe et création de contenu."
    name="description">

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">

<!-- Twitter Card -->
<meta content="summary_large_image" name="twitter:card">
<meta content="Inès Lalam - Portfolio" name="twitter:title">
<meta content="Étudiante en Communication & Marketing | Passionnée par l'évènementiel et la stratégie créative."
    name="twitter:description">
<meta content="{{ site.baseurl }}/assets/images/photo.jpg" name="twitter:image:src">

<!-- Facebook OpenGraph -->
<meta content="Inès Lalam - Portfolio" property="og:title">
<meta content="Découvrez mon univers créatif et mes projets en communication et marketing." property="og:description">
<meta content="{{ site.baseurl }}/assets/images/photo.jpg" property="og:image">













_includes/meta.html