---
layout: default
---

<article class="project-detail animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="project-detail__header">
          <a href="{{ site.baseurl }}/#projets" class="back-link"><i class="ion ion-md-arrow-back"></i> Retour aux projets</a>
          <h1 class="project-detail__title">{{ page.title }}</h1>
          <div class="project-detail__subtitle text-neon-green">{{ page.subtitle }}</div>
        </div>

        <div class="project-detail__image">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
        </div>

        <div class="project-detail__content">
          <div class="row">
            <div class="col col-8 col-d-12">
              <div class="project-detail__description">
                {{ content }}
              </div>
            </div>
            <div class="col col-4 col-d-12">
              <div class="project-detail__sidebar">
                <div class="sidebar-item">
                  <h4 class="sidebar-title">Date</h4>
                  <p>{{ page.date_text }}</p>
                </div>
                {% if page.technologies %}
                <div class="sidebar-item">
                  <h4 class="sidebar-title">Outils & Compétences</h4>
                  <ul class="list-reset">
                    {% for tech in page.technologies %}
                    <li><span class="tech-tag">{{ tech }}</span></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
